html, body {
    height: 100%;
    background-color: rgb(240, 253, 255);
}

.landing-body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.vertical-center {
    padding-top: 3em;
}

h1 {
    color: #3CC0E7;
    font-size: 48px;
}

h2 {
    color: rgb(142, 147, 148);
}

span {
    padding-right: .5em;
}

a {
    color: #3CC0E7;
}

a:hover {
    color: #09AADA;
}

.medium-width {
    width: 780px;
    margin-top: 50px;
}

#box {  
    width:410px;
    height:200px;
    /*box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);*/
    /*border-bottom:2px solid #fff;*/
    /*border-right:2px solid #fff;*/
    margin:1% auto 0 auto; 
    background:url('impetus.png');
    background-size:cover;
    /*border-radius:5px;*/
    overflow:hidden;
}

#overlay {  
    background:rgba(0,0,0,.75);
    text-align: center;
    padding: 0px 5px 66px 5px;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

#box:hover #overlay {
    opacity:1;
}

#plus {
    /*font-family:Helvetica;*/
    color:rgba(255,255,255,1);
    font-size: 12px;
}

.project-title {
    margin: 0 0 5px 0;
    color: #3CC0E7;
}

.no-underline:hover {
    text-decoration: none;  
}

.navbar-default .navbar-brand:hover {
    color: #3CC0E7;
}

.navbar-default .navbar-nav>li>a {
    color: #3CC0E7;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #3CC0E7;
}

.navbar-default .navbar-brand {
    color: #3CC0E7;
}

.navbar-color {
    background-color: rgb(240, 253, 255);
    color: #3CC0E7;
}

.navbar-fixed-top {
    opacity: .85;
}

.navbar-center {
    margin-left: 385px;
}

.projects-container {
    width: 790px;
    min-height: 100%;
}

.screenshot {
    margin-top: 20px;

}

/*img.screenshot-shadow {*/
    /*-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);*/
/*}*/

footer {
    min-height: 100px;
}
